<ion-header >
    <ion-toolbar>
      <ion-title id="title"><p id="p1">
        Streamers & Reviews</p>
      </ion-title>
    </ion-toolbar>
  </ion-header> 
 

<ion-content >
  <div id="maindiv">
  <h1>List of Streamers</h1>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card>
                  <ion-img src="https://www.famousbirthdays.com/faces/kjellberg-felix-image.jpg"></ion-img>
                  <ion-card-header>
                      <ion-card-title>Pew Die Pie</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  <p>Followers:<ion-badge color="primary">75m</ion-badge></p>
                  <p>Likes:<ion-badge color="secondary">1B</ion-badge></p>
                  <p>Videos:<ion-badge color="tertiary">3682</ion-badge></p>
                  <p>Views:<ion-badge color="success">19.5B</ion-badge></p>
                  <p><iframe src="https://www.youtube.com/embed/qCLmXN1aRrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                  </ion-card-content>
                  <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/PewDiePie"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
              </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                  <ion-img src="https://static-cdn.jtvnw.net/jtv_user_pictures/stonemountain64-profile_image-e3425fb2c4f17e64-300x300.png"></ion-img>
                  <ion-card-header>
                      <ion-card-title>StoneMountain64</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                        <p>Followers:<ion-badge color="primary">1.8m</ion-badge></p>
                        <p>Likes:<ion-badge color="secondary">500m</ion-badge></p>
                        <p>Videos:<ion-badge color="tertiary">1569</ion-badge></p>
                        <p>Views:<ion-badge color="success">211m</ion-badge></p>
                      <p><iframe  src="https://www.youtube.com/embed/o_lEZAq-V2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                  </ion-card-content>
                  <ion-button shape="round" expand="full"  color="dark" fill="outline" href="https://www.youtube.com/user/StoneMountain64"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card>
                  <ion-img src="https://i-cdn.phonearena.com/images/article/108983-thumb/Samsung-taps-Fortnite-celebrity-streamer-Ninja-for-Galaxy-squad-contest.jpg"></ion-img>
                  <ion-card-header>
                      <ion-card-title>Ninja</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                        <p>Followers:<ion-badge color="primary">20m</ion-badge></p>
                        <p>Likes:<ion-badge color="secondary">2B</ion-badge></p>
                        <p>Videos:<ion-badge color="tertiary">796</ion-badge></p>
                        <p>Views:<ion-badge color="success">1.5B</ion-badge></p>
                      <p><iframe  src="https://www.youtube.com/embed/3S2009jyMEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                  </ion-card-content>
                  <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/NinjasHyper"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
              </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                  <ion-img src="http://images6.fanpop.com/image/photos/39000000/Vanoss-New-Logo-banana-bus-squad-39080730-300-300.jpg"></ion-img>
                  <ion-card-header>
                      <ion-card-title>Vanoss Gaming</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                        <p>Followers:<ion-badge color="primary">24m</ion-badge></p>
                        <p>Likes:<ion-badge color="secondary">700m</ion-badge></p>
                        <p>Videos:<ion-badge color="tertiary">907</ion-badge></p>
                        <p>Views:<ion-badge color="success">10.3B</ion-badge></p>
                      <p><iframe src="https://www.youtube.com/embed/M0247pdwAYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                  </ion-card-content>
                  <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/VanossGaming"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-img src="https://img00.deviantart.net/ff22/i/2015/090/6/4/markiplier___green_eyes_3_by_christinepi-d8nvjs2.jpg"></ion-img>
                        <ion-card-header>
                            <ion-card-title>markiplierGAME</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                              <p>Followers:<ion-badge color="primary">22.5m</ion-badge></p>
                              <p>Likes:<ion-badge color="secondary">1.2B</ion-badge></p>
                              <p>Videos:<ion-badge color="tertiary">4278</ion-badge></p>
                              <p>Views:<ion-badge color="success">10.5B</ion-badge></p>
                            <p><iframe src="https://www.youtube.com/embed/3NlbLmbrFCw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        </ion-card-content>
                        <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/markiplierGAME/videos"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-img src="https://www.austinchronicle.com/binary/9a84/RESIZED.roosterteeth.jpg"></ion-img>
                        <ion-card-header>
                            <ion-card-title>Rooster teeth</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                              <p>Followers:<ion-badge color="primary">9.5m</ion-badge></p>
                              <p>Likes:<ion-badge color="secondary">700m</ion-badge></p>
                              <p>Videos:<ion-badge color="tertiary">7997</ion-badge></p>
                              <p>Views:<ion-badge color="success">5.7B</ion-badge></p>
                            <p><iframe src="https://www.youtube.com/embed/iI23SZql_vY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        </ion-card-content>
                        <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/RoosterTeeth"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
                    </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-img src="https://images.hearthis.at/c/r/o/_/uploads/320275/image_track/865213/w600_h600_c3a3a3a_q70_m1477338512----cropped_4d3d44cb6584aed6b989b7397c7f85f4fernanfloo-10-1-s-307x512.jpg"></ion-img>
                        <ion-card-header>
                            <ion-card-title>Fernanfloo</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                              <p>Followers:<ion-badge color="primary">30.7m</ion-badge></p>
                              <p>Likes:<ion-badge color="secondary">500m</ion-badge></p>
                              <p>Videos:<ion-badge color="tertiary">570</ion-badge></p>
                              <p>Views:<ion-badge color="success">1.5B</ion-badge></p>
                            <p><iframe src="https://www.youtube.com/embed/TbNBjG9XbBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        </ion-card-content>
                        <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/user/Fernanfloo"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-img src="https://avatarfiles.alphacoders.com/141/141560.jpg"></ion-img>
                        <ion-card-header>
                            <ion-card-title>theRadBrad</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                              <p>Followers:<ion-badge color="primary">9.7m</ion-badge></p>
                              <p>Likes:<ion-badge color="secondary">1B</ion-badge></p>
                              <p>Videos:<ion-badge color="tertiary">5845</ion-badge></p>
                              <p>Views:<ion-badge color="success">3.8B</ion-badge></p>
                            <p><iframe src="https://www.youtube.com/embed/zTYF_aa0Q_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        </ion-card-content>
                        <ion-button shape="round" expand="full" color="dark" fill="outline" href="https://www.youtube.com/embed/iI23SZql_vY"> <ion-icon name="ios-add"></ion-icon>Follow</ion-button>
                    </ion-card>
                </ion-col>
              </ion-row>
        </ion-grid>
        <h1>List of Games & Reviews</h1>
        <p>Come experience the different cuisines available in our restraunt</p>
        <h6 *ngFor="let f of gameservice.myData.games" (click)="showdetail($event)">{{f.Name}}</h6>
            </div>
</ion-content>
