<ion-header>
    <ion-toolbar >
      <ion-title id="title"><p id="p1">
        Connect</p>
      </ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </ion-header> 

<ion-content>
  <ion-list><div id="maindiv">
    <ion-list-header>
      <h4 id="h4">Connect with the developer of Game Streamer on the following platforms</h4>
    </ion-list-header>
    </div>
    <ion-item>
        <a href="https://www.facebook.com/kritin.kondru?ref=bookmarks"><i class="fab fa-facebook-f"></i><a id="p">&nbsp;&nbsp;Facebook</a></a>
   </ion-item>
    <ion-item>
        <a href="https://mail.google.com/mail/u/0/#inbox"><i class="fas fa-envelope"></i><a id="p">&nbsp;&nbsp;Gmail</a></a>
    </ion-item>
    <ion-item>
        <a href="https://github.com/kritkondru"><i class="fab fa-github"></i><a id="p">&nbsp;&nbsp;Github</a></a>
    </ion-item>
  </ion-list>
  <div id="maindiv">
  <ion-img src="https://wallpapercave.com/wp/wp2605456.jpg"></ion-img>
  <ion-img src="https://imagesyoulike.com/images/j/32x24/j0925.jpg"></ion-img>
   </div>
</ion-content>
